@font-face{
    font-family: "Roboto";
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: "Rye";
    src: url(../../fonts/Rye/Rye-Regular.ttf);
}
$darkblue: #202C59;
$primary: $darkblue;


h2{
    font-family: "Rye";
}

/*h3{
    position: relative;
}*/


.bloc1{
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 3px 0px;
}

.table {
    margin: auto;
    width: 50%; 
 }